/* Structures */
html,body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0px;
    width: 100%;
    max-width: 100%;
    line-height: 1.6;
}
#user-nav{
    padding: 1px;
}
#header{
    background: black;
}
#logo input{
    height: 30px;
    width: 189;
    background-color: black;
    border: 1px solid white;
}

.inline{
    display: inline-block;
    padding: 10px;
    background-color: #73000A;
}
#first-image{
    width: 100%;
}
#Your-educational-investment button:hover #next-step button:hover{
    background-color: white;
    color: #73000A;
    border: 5px solid #73000A;
}
#degree-programs{
    background: #73000A;
}
#Your-educational-investment{
    text-align: center;
    width: 15%;
    display: inline;
    background-color: #ECECEC;
}
#Your-educational-investment p{
    text-align: center auto;
    color: black;
    font-size: medium;
    background: #ECECEC;
}
#Your-educational-investment button{
    display: block;
    margin: 0 auto;
    background: #73000A;
}
#degree-programs button{
    background-color: black;
    border: 5px solid white;
    padding: 10px;
    width: fit-content;
}
#your-educational-investment button{
    background-color: #73000A;
    padding: 15px;
    width: fit-content;
    color: white;
    font-size: medium;
}
.second-quad {
    padding: 15px;
    display: flex;
    margin-left: 5%;
}
#third-quad {
    margin-left: 0 auto;
    margin-right: 0 auto;
    justify-content: center;
}
.final-quad {
    padding: 15px;
    display: flex;
    margin-left: 5%;
}
#pay-for-school{
    background-color: white;
    width: 90%;
    max-width: 100%;
}
#pay-for-school p{
    text-align: center;
    padding: 50px;
    margin: auto;
}
.paying-college:hover{
    background-color: white;
}
.paying-college p{
    text-align: left;
}
#pay-for-school .flex-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 100%;
}
#next-step{
    background-color: black;
    align-items: center;
    padding: 25px;
}
#next-step p{
    color: white;
    line-height: 1.5;
    margin-bottom: 20px;
}
#next-step button{
    background-color: #73000A;
    border: 5px solid white;
    padding: 10px;
    font-size: 20px;
    color: white;
}
#next-step img{
    padding:10px;
}
#main-footer{
    background: #73000A;
}
#social-links li{
    list-style: none;
}
#school-links li{
    list-style: none;
}
#bottom-footer{
    background: black;
}
#bottom-footer{
    padding: 5px;
    position: relative;
    left: 10%;
    width: 90%;
    max-width: 100%;
}

/* Navigation */
.top-header ul{
    padding-left: 0px;
}
.top-header li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}
#main-nav{
    text-align: center;
    background-color: #73000A;
    padding: 5px;
}
#main-nav ul{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#main-nav li{
    margin: 0 5px;
}


/* Typography */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.strong{
    font-weight: strong;
}

#top-header ul{
    color: white;
}

#user-nav{
    font-size: xx-small;
}
#label #logo input,#user-nav a, main h1, #programs{
    color: white;
}

#programs h1, #your-educational-investment h1{
    font-size: 2.0em;
}
#your-educational-investment h1, .pay-for-school h3, #paying-college h1{
    color: #73000A;
}

#paying-college a{
    color: black;
    text-decoration: none;
}

#paying-college h1 {
    font-size:2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

#schools-links a{
    color: white;
    text-decoration: none;
}
#schools-links ul{
    padding:10px;
}
.underline {
    border-bottom: 5px solid white;
}
#bottom-footer p {
    color:white;
    font-size: 10px;
}

/* Larger Resolutions */
.top-header ul, .flex-container {
    display: flex;
    }
    #user-nav ul {
    position: relative;
    top: 0%;
    left:45%;
    }
    #main-nav li {
    flex: 1;
    }
    #user-nav li{
        flex: 1;
    }
    #logo {
    padding: 5px;
    justify-content: space-between;
    margin: 10px 0;
    box-sizing: border-box;
    }
    .padding-right{
    padding-right:20px;
    }
    #first-quad h1 {
    margin-top: -40px;
    margin-left: 10%;
    font-size: 3em;
    }
    #first-quad p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.1em;
    }
    #columns {
    flex: 4;
    flex-direction: columns;
    }
    #degree-programs {
    flex: 1;
    min-width:0;
    min-height:0;
    overflow:hidden;
    }
    #top-header{
        flex: 1;
        flex-direction: row;
    }
    #third-quad {
    flex:1;
    flex-direction: columns;
    }
    .second-quad{
        flex: 1;
        flex-direction: row;
    }
    .final-quad{
        flex: 1;
        flex-direction: row;
    }
    #your-educational-investment {
    flex: 1;
    }
    #pay-for-school .flex-container {
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    justify-content: space-between;
    }
    .paying-college {
    margin: 20px;
    }
    #social-links {
    position: absolute;
    right: 5%;
    }
    .next-step{
        flex: 1;
        flex-direction: columns;
    }
