/* Structures */
html,body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0px;
    width: 100%;
    max-width: 100%;
    line-height: 1.6;
}
#user-nav{
    padding: 1px;
}
#header{
    background: black;
}
#logo input{
    height: 30px;
    width: 189;
    background-color: black;
    border: 1px solid white;
}

.inline{
    display: inline-block;
    padding: 10px;
    background-color: #73000A;
}
#first-image{
    width: 100%;
}
#Your-educational-investment button:hover #next-step button:hover{
    background-color: white;
    color: #73000A;
    border: 2px solid #73000A;
}
#degree-programs{
    background: #73000A;
}
#Your-educational-investment{
    text-align: center;
    width: 15%;
    display: inline;
    background-color: #ECECEC;
}
#Your-educational-investment p{
    text-align: center auto;
    color: black;
    font-size: medium;
    background: #ECECEC;
}
#Your-educational-investment button{
    display: block;
    margin: 0 auto;
    background: #ECECEC;
}