/* Structures */
body{
    background-color: blue;
}

#content{
    background: whitesmoke;
}



.columns-all {
    display:flex
}
img{
    max-width: 100%;
}

#login-menu{
    background: red;
    width:fit-content;
    padding: 10px;
    position:static;
}

/* Larger Resolutions*/
@media only screen and (min-width:600px){
    #content {
        width: 70%;
        margin: auto;
    }
    
    
    .columns {
        display: flex;
    }
}