/* Structure */
body{
    background: url("images/thumb16.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content {
    width: 95%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
}
#main-content section{
    background: blanchedalmond;
    padding: 5px;
    margin: 5px;
}

.assign {
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 30%;
    box-shadow: 8px 8px black;
   
   }



/* Typogrophy */
h1{
    color: #3d3d3d;
}
h2{
    color:#6874ff;
}
p{
    color: #6874ff;
}
head{
    background-color:#6874ff ;
}