/* Structure */
body{
    background: url("images/e09757fe6cca5ea4c497f57c1e32e98c.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content {
    background: rgba(255, 255, 255, 0.8);
}
#assignments {
    display: flex;
    width: 95%;
    margin: auto;
    background: rgba(0, 5, 43, 0.8);
}
#projects {
    display: flex;
    width: 95%;
    margin: auto;
    background: rgba(0, 5, 43, 0.8);
}

#footer{
    background: rgba(0, 5, 43,0.8);
}
.assign {
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 45%;
    box-shadow: 8px 8px black;
   
   }



/* Typogrophy */
#header {
    text-align: center;
}

h1{
    color: #3d3d3d;   
}
h2{
    color:#fb24f8;
}
p{
    color: #fb24f8;
}
head{
    background-color:#fb24f8 ;
}
#footer p{
    text-align: center;
}


/* Media Queries*/
@media (min-width: 900px){
    #content {
        flex: 1;
    }
}
@media (max-width :10000px){
    #content {
        display: block;
    }
    #main-nav {
        display: hidden;
    }
}