/* Structure */
body{
    background: url("images/thumb16.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Assignments section{
    background: blanchedalmond;
    padding: 5px;
    margin: 5px;
}





/* Typogrophy */
h1{
    color: #818589;
}
h2{
    color:#31D100;
}
p{
    color: #818589;
}
head{
    background-color:#31D100 ;
}