/* Structure */
body{
    background: url("images/new-york-jets-unsigned-metlife-stadium-photograph_pi3931000_ff_3931611-dadb8d5f681244415cef_full.jpg");
    font - family:Arial, Helvetica, sans-serif;
}
#content {
    width 70%;
    margin:auto;
    background:wheat(255,255,255,0.6);
    border - radius:5px;
}
/* Navigation */

/* Typography */

/* Media Queries */
