body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkgrey;
  margin:0;
  padding: 25px;
  box-sizing: border-box;
}
header{
  text-align: center;
  margin-bottom: 25px;
}
#main-content{
  max-width:1200px;
  margin: 0 auto;
}

#flex-container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 25px;
}