/* Structure */
:root{
    --primary-color:#FF8000;
    --secondary-color:#818589;
    --background-color: bisque;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:url('images/mclaren-brand-symbol-logo-white-design-british-car-automobile-illustration-with-black-background-free-vector.jpg');
    background-size:100%;
}
#content {
    background:rgba(169, 169, 169, 0.9);
    width:70%;
    margin:auto;
    border-radius: 5px 50px 50px 0px
}
#main-header, #main-footer {
    background:var(--background-color);
    padding:10px;
}
 
#main-content {
    padding:10px;
}

/* Navigation */
#main-nav li {
    list-style-type: none;
    display:inline-block;
    background:var(--primary-color);
    padding:5px;
    border-radius:2px;
}
#main-nav a {
    color:#818589;
    text-decoration: none;
}
#main-nav a:hover {
    color:var(--background-color);
}

/* Typography */
h1 {
    color:var(--primary-color);
}
h2{
    color:var(--primary-color);
}
p{
    color:var(--primary-color)
}
table {
    color:var(--primary-color)
}
strong {
    background:var(--secondary-color);
    padding:5px;
    text-decoration-line: underline;
}
/* Media Queries */