/* Structure */
body{
    background-color: bisque;
    font - family:Arial, Helvetica, sans-serif;
    
    h1 {
        color: #006400;
        text-align: center;
        width: 100%;
        display: block;
       }
}
/* Navigation */

/* Typography */

/* Media Queries */