/* Structure */
body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    
    h1 {color: #FF8000;}

    h2 {color: #FF8000;}

    

    
}
/* Navigation */

/* Typography */

/* Media Queries */