/*Structure*/
body{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}
img{
    object-fit: cover;
}
#assign {
    display: flex;
    width: 95%;
    margin: auto;
    background: rgba(0, 5, 43, 0.8);
}
/*Header*/
#main-header{
    background-color: black;
    color: #FA1D00;
    padding: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px;
    font-size: 20px;
}
#main-header #main-nav .columns{
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items:center;
}

#main-header h1{
    margin: 0;
    font-size: 30px;
}

#main-header ul{
    list-style: none;
    padding: 0px;
    display: flex;
}

#main-header li{
    margin-left: 20px;
}

#main-header li a{
    color: #FA1D00;
    text-decoration: none;
    display: block;
    text-align: center;
}

/*MAIN PAGE */
#main-content{
    margin: 0 auto;
    padding: 10px;
}

.assign {
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 45%;
    box-shadow: 8px 8px #FA1D00;
   
   }


#old-car p {
    color:#ba0000 ;
}
#new-car p {
    color:#ba0000 ;
}

#footer{
    background-color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: #ba0000;
    position: bottom;
    height: 25px;
}


/* MEMORIAL*/
.Senna-memorial {
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 45%;
    box-shadow: 8px 8px #FE553C;
    align-items: center;
   }

   .Jules-memorial {
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 45%;
    box-shadow: 8px 8px #DA070E;
    align-items: center;
   
   }

   #Ayrton-Senna p {
    color: #FE553C;
   }
   #Ayrton-Senna h3{
    color:  #FE553C;
   }
   #Jules-Bianchi p {
    color: #DA070E;
   }
   #Jules-Bianchi h3 {
    color: #DA070E;
   }

   /* FIA*/
   .FIA {
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    width: 45%;
    box-shadow: 8px 8px #083564;
   }
    #FIA-logo p {
        color: white;
       }

      /* Driver outfits*/
      .Helmet-gear {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 45%;
        box-shadow: 8px 8px #FE553C;
        align-items: center;
       }
       .bio-gloves {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 45%;
        box-shadow: 8px 8px #FE553C;
        align-items: center;
       }
       .suit {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 45%;
        box-shadow: 8px 8px #FE553C;
        align-items: center;
       }
       #Helmet p {
        color: #FE553C;
       }
       #Helmet h3{
        color:  #FE553C;
       }
       #gloves p {
        color: #FE553C;
       }
       #gloves h3{
        color:  #FE553C;
       }
       #flame-suit p {
        color: #FE553C;
       }
       #flame-suit h3{
        color:  #FE553C;
       }

       /*  CAR */
        .Halo {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 45%;
        box-shadow: 8px 8px #FE553C;
        align-items: center;
       }
       .survival-cell {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 45%;
        box-shadow: 8px 8px #FE553C;
        align-items: center;
       }
       .fuel-cell {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        display: block;
        width: 45%;
        box-shadow: 8px 8px #FE553C;
        align-items: center;
       }
       #CAR-Halo p {
        color: #FE553C;
       }
       #CAR-Halo h3{
        color:  #FE553C;
       }
       #CAR-survival p {
        color: #FE553C;
       }
       #CAR-survival h3{
        color:  #FE553C;
       }
       #CAR-fuel p {
        color: #FE553C;
       }
       #CAR-fuel h3{
        color:  #FE553C;
       }

       /* Media Queries*/
@media (min-width: 900px){
    #content {
        flex: 1;
    }
}
@media (max-width :768px){
    #content {
        display: block;
    }
}

#hamburger-menu{
    display: block;
}

#flex-container{
    flex-direction: column;
}

.flex-container{
    flex-direction: column;
}
